/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/********************GLOBAL*******************/
.font-size {
  font-size: 30px;
}
.App {
  box-sizing: border-box;
  /* background-color: #75bde6; */
  background: linear-gradient(
    270deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(6, 123, 241, 0.688) 100%
  );
  height: 100%;
}
/* div {
  height: 1000px; /*a supprimer a la fin
} */
/**********************Header******************/
.header-container {
  background-image: url(./assets/img/Marvel-Wallpaper-HD-41300.jpg); /* https://www.baltana.com/movies/marvel-wallpaper-hd-41300.html */
  object-fit: cover;

  height: 15%;
  width: 100%;
  /* border: 2px solid black; */
  /* background-color: #7f130c; */
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  /* margin-top: 5%; */
}

svg {
  height: 70%;
  position: absolute;
  /* border: 1px solid black; */
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 50%;
  display: block;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
svg:hover {
  transform: rotate(180deg);
}
.header-menu-perso {
  /* border: 2px solid black; */
  height: 98%;
  width: 30%;
  /* justify-content: space-between;
  display: flex; */
}
.header-menu-perso > button {
  background-image: url(./assets/img/captain-america-g7c018314b_640.png);
  background-repeat: no-repeat;
  background-color: transparent;
  font-weight: 900;
  margin-left: 5%;
  margin-top: 2%;
  border: none;
  font-family: "Marvel", sans-serif;
  transition: transform 0.1s;
  cursor: pointer;
}
.heart-icon {
  transition: transform 0.1s;
  cursor: pointer;
}
.heart-icon :hover {
  transform: scale(1.5);
}
.header-menu-perso > button:hover {
  transform: scale(1.3);
}
/*******************************************comics CSS**************************************/
.comics-container {
  padding-top: 20%;
  /* border: 1px solid black; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comics-id {
  padding-top: 20%;
}
.comics-cards {
  /* border: 1px solid black; */
  width: 30%;
  margin-bottom: 3%;

  object-fit: cover;
}
.characters-img {
  border-radius: 20px;
  transition: transform 0.1s;
  cursor: pointer;
}
.characters-img:hover {
  transform: scale(1.2);
}
.comics-img:hover {
  transform: scale(1.2);
}

.comics-img {
  border-radius: 20px;
  transition: transform 0.1s;
  cursor: not-allowed;
}
.comics-cards-desc {
  background-color: transparent;
  /* margin-top: 17%; */
  margin-left: 2%;
  color: white;
  border-radius: 20px;
  /* border: 1px solid black; */
  overflow: hidden;
}
.comics-card-title {
  background-color: #7f130c;
  /* margin-bottom: 80%; */

  padding: 1% 0% 1% 0%;
  /* border-radius: 20px; */
  opacity: 0.85;
  text-align: center;
}
.comics-card-description {
  text-overflow: ellipsis;
  line-height: 25px;
  overflow: hidden;
  width: 100%;
  height: 15%;
  /* content: "..."; */
  /* border: 1px solid black; */
  /* border-radius: 20px; */
}
/****************************************characters page********************/
.characters-container {
  padding-top: 20%;
  /* border: 1px solid black; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.characters-cards {
  /* border: 1px solid black; */
  width: 30%;
  margin-bottom: 3%;

  object-fit: cover;
}
/****************************************characters ID page********************/
.caracterId-container {
  padding-top: 10%;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;

  object-fit: cover;
}
.caracterId-img {
  object-fit: cover;
  /* width: 50%; */
}
.cache-description {
  display: flex;
}
.caracterId-comics {
  border: 1px solid black;
  width: 40%;
  background-color: #7f130c;

  opacity: 0.8;
}
li {
  font-weight: 900;
  font-family: "Marvel", sans-serif;
  font-size: 25px;
  line-height: 45px;
}
/*****************************************Spinner*****************************************/
/* https://cssloaders.github.io/ */
.loader {
  color: rgb(16, 16, 16);
  position: relative;
  display: inline-block;
  margin-top: 12%;
  margin-left: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}
.loader::before {
  content: "";
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 28px;
  width: 5.15px;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader1 1s linear infinite alternate;
}
.loader::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background: #7f130c;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    transform: translate(0px, 0px) scaleX(1);
  }
  14% {
    transform: translate(-12px, -16px) scaleX(1.05);
  }
  28% {
    transform: translate(-27px, -28px) scaleX(1.07);
  }
  42% {
    transform: translate(-46px, -35px) scaleX(1.1);
  }
  57% {
    transform: translate(-70px, -37px) scaleX(1.1);
  }
  71% {
    transform: translate(-94px, -32px) scaleX(1.07);
  }
  85% {
    transform: translate(-111px, -22px) scaleX(1.05);
  }
  100% {
    transform: translate(-125px, -9px) scaleX(1);
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 0 -6px, -122.9px -8px;
  }
  25%,
  75% {
    box-shadow: 0 0px, -122.9px -8px;
  }
  100% {
    box-shadow: 0 0px, -122.9px -16px;
  }
}
/********************search bar*******************************/
a {
  text-decoration: none;
}
.search {
  position: absolute;
  top: 25%;

  left: 50%;
  height: 30px;
  border-radius: 40px;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: #2f3640;
}
.btn {
  border-radius: 50%;
  background: #2f3640;
  color: #2471a3;
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.6s;
  line-height: 40px;
  width: 0px;
}
::placeholder {
  padding-left: 15px;
  color: #ddd;
}
.search:hover > .text {
  width: 350px;
  padding: 0 5px;
  transition: 0.4s;
}
@media (max-width: 841px) {
  .search:hover > .text {
    width: 300px;
  }
}
@media (max-width: 740px) {
  .search:hover > .text {
    width: 250px;
  }
}
@media (max-width: 640px) {
  .search:hover > .text {
    width: 200px;
  }
}
@media (max-width: 540px) {
  .search:hover > .text {
    width: 160px;
  }
  .text {
    line-height: 30px;
  }
  .search {
    height: 30px;
  }
  .btn {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 461px) {
  .search:hover > .text {
    width: 140px;
  }
}
@media (max-width: 401px) {
  .search:hover > .text {
    width: 110px;
  }
}
